.task-list {
  padding: 10px;
  margin: 10px 0px;
}
.priority-button:hover,
.calendar-button:hover {
  cursor: pointer;
  color: #0d6efd;
}
.priority-color {
  color: red;
}
.date-color {
  color: #0d6efd;
}
.due-date {
  font-size: smaller;
  font-weight: lighter;
  color: #0d6efd;
  float: right;
}
