.navbar > ul{
    display: flex;
    font-size: 2rem;
    font-weight: bolder;
}
li{
    list-style: none;
    cursor: pointer;
    margin-right: 1em;
}
a{
    text-decoration: none;
    color:black;
}
a:hover{
    color:#0d6efd;
}
.active{
    border-bottom: 3px solid #0d6efd;
}