.pomo, .stop-watch{
    font-size: 5rem;
    text-align: center;
    margin-top: 70px;
}
.btn{
    font-size: 1.5rem;
    padding: 10px 30px;
}
h2{
    color:#eee;
}
ul{
    text-align: center;
    font-size: 2rem;
}
li {
    display: inline;
    list-style: none;
    cursor: pointer;
    margin-right: 1em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0d6efd;
}

.active {
    border-bottom: 3px solid #0d6efd;
    color: #0d6efd;
}

